---
---

<!DOCTYPE html>
<html class="">
<head>

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <link rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <link rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
  
  <script type="application/ld+json">
   {
     "@context": "http://schema.org",
     "@type": "Person",
     "name": "{{ site.data.settings.seo.name }}",
     "jobTitle": "{{ site.data.settings.seo.job }}",
     "description": "{{ site.data.settings.seo.description }}",
     "memberOf": "{{ site.data.settings.seo.memberof }}",
     "alumniOf": "{{ site.data.settings.seo.alumniof }}",
     "image": "{{ site.data.settings.seo.image }}",
     "url": "{{ site.data.settings.seo.url }}",
     "sameAs" : [
       {% for slink in site.data.settings.social %}
         {% if forloop.last %}"{{ slink.link }}"{% else %}"{{ slink.link }}",{% endif %}
       {% endfor %}
      ]
   }
  </script>
  

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="assets/css/all.css?id=9">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  
  {% include analytics.html %}
</head>
<body>

{% include header.html %}

{% include about.html %}

{% include work.html %}

{% include clients.html %}

{% include contact.html %}

{% include form.html %}

{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js?id=14"></script>
</body>
</html>
