<p><img src="assets/img/work/proj-8/measure.jpg" alt="The placement of our acoustic measurement device." /></p>

<p>As an audio engineering student at Coventry University, I conducted an ISO3382 reverb time 
measurement study in one of the high quality recording studios at the campus as part of my 
final project in an acoustics class.</p>

<p><a href="work/iso3382report.pdf">Click here to download the report as a PDF</a></p>

<p><img src="assets/img/work/proj-8/sslstudio.jpg" alt="The SSL Studio at Coventry University" /></p>

<p>To enhance the report, I made an accurate 3D model of the facility and referenced it in 
my calculations and analysis:</p>

<p><img src="assets/img/work/proj-8/3dtop.jpg" alt="3D model top" />
<img src="assets/img/work/proj-8/3dside.jpg" alt="3D model side" /></p>

<p>In addition to conducting ISO3382 measurements in the Coventry studio, I applied acoustic principles to 
design a hypothetical sound recording room.</p>

<p><a href="work/roomdesign.pdf">Click here to download the room design as a PDF</a>.</p>

<p>Here are some renderings of the design:</p>

<p><img src="assets/img/work/proj-8/room1.jpg" alt="Room design" />
<img src="assets/img/work/proj-8/room2.jpg" alt="Room design" />
<img src="assets/img/work/proj-8/room3.jpg" alt="Room design" />
<img src="assets/img/work/proj-8/room4.jpg" alt="Room design" /></p>
