<p><img src="assets/img/work/proj-2/start.png" alt="Our OS" /></p>

<p>I worked with peers to implement a simple command line operating system in C.
Our OS offers the user an interactive demonstration of how processes are managed, synchronized
and scheduled using the foundational concepts that we learned during an introduction to operating
systems course at the University of Windsor.
The project spanned one month and features contributions from</p>

<ul>
  <li>Nik Steel</li>
  <li>Todd Baert</li>
  <li>Chris Zygowski</li>
  <li>and Aaron Sarson.</li>
</ul>

<p>Our code is available on GitHub <a href="https://github.com/NikSteel/GeekOS">here</a>.</p>

<p>We selected <a href="https://code.google.com/p/geekos/">GeekOS</a>, an open source project by David H.
Hovemeyer, as our kernel and successfully implemented a command line interface, a five state
process model, scheduling queues, mechanisms for process synchronization and scheduling, and
dummy programs for demonstrating job submission scenarios.</p>

<p>In addition to contributing to the inner workings of the OS during whiteboard discussions
and pair programming activities, I lead development on the command line interface and
implemented a series of simple games to show how our scheduling and synchronization
algorithms work.</p>

<p>Here, two processes exchange control of a tic tac toe game using the Peterson solution to
the critical section problem:</p>

<p><img src="assets/img/work/proj-2/tictactoe.gif" alt="Peterson's solution demonstrated by tic tac toe game." /></p>

<p>Here, a group of poem-writing processes attempt to write their poem into a shared memory location
at the same time. The late arriving processes are blocked by the earliest arriving one, which has
control of the mutex lock:</p>

<p><img src="assets/img/work/proj-2/poems.gif" alt="Mutex locks demonstrated by poem writing competition." /></p>

<p>We provide four process scheduling algorithms and four job submission scenarios:</p>

<p><img src="assets/img/work/proj-2/scheduling.png" alt="Process scheduling menu." /></p>

<p>The user can see how the processes transition between the five process states:</p>

<p><img src="assets/img/work/proj-2/scheduler.gif" alt="Example of running the process scheduling demo." /></p>

<p>Afterwards, runtime statistics can be compared to evaluate the performance of each
scheduling algorithm given a particular job submission scenario.</p>

<p><img src="assets/img/work/proj-2/runtime_stats.png" alt="Runtime statistics" /></p>
