<p><img src="assets/img/work/proj-6/kit.jpg" alt="The Austin mic kit" /></p>

<p>I organized and facilitated an Acoustic Zoo workshop at my personal workspace in which I and two other club members
– Rob and Gilbert – each made a custom ribbon microphone using an Austin Microphones DIY
ribbon mic kit. It was a great experience to learn about what goes into the design of a microphone
and the effects of various design parameters, such as the grill shape, acoustic damping, and the path
around the transducer. The completed microphones sound excellent!</p>

<div style="width:100%; height:auto">
   <img alt="Our team of participants" src="assets/img/work/proj-6/team.jpg" style="float:left; width:50%; height:auto" />
   <img alt="Rob assembling his" src="assets/img/work/proj-6/rob.jpg" style="float:right; width:50%; height:auto" />
</div>
<p>Rob and Gilbert</p>

<p><img src="assets/img/work/proj-6/grill.jpg" alt="Making the mic grill" />
Shaping and soldering the microphone grill</p>

<p><img src="assets/img/work/proj-6/pot.jpg" alt="Potting the transformer in a mumetal can with silicone" />
A custom mumetal can that we used to pot the transformer in silicone</p>

<p><img src="assets/img/work/proj-6/glue.jpg" alt="Gluing the magnets in the truss" />
Gluing the magnets to the truss</p>

<p><img src="assets/img/work/proj-6/truss.jpg" alt="Wiring the truss" />
Wiring the truss</p>

<p><img src="assets/img/work/proj-6/cut.jpg" alt="Cutting the ribbon" />
Cutting the ribbon</p>

<p><img src="assets/img/work/proj-6/corrogate.jpg" alt="Corrugating the ribbon" />
Corrugating the ribbon using a tube wringer</p>

<p><img src="assets/img/work/proj-6/placeribbon.jpg" alt="Placing the ribbon in the truss" />
Placing the ribbon on the truss</p>

<p><img src="assets/img/work/proj-6/midway1.jpg" alt="Final assembly" />
Soldering the transformer to the XLR connector</p>

<p><img src="assets/img/work/proj-6/midway2.jpg" alt="Final assembly" />
Soldering the ribbon motor to the transformer</p>

<p><img src="assets/img/work/proj-6/stuff.jpg" alt="Stuffing the case" />
Applying acoustic damping to the case</p>

<p><img src="assets/img/work/proj-6/done.jpg" alt="The completed ribbon mic" />
The completed microphone, ready to make beautiful recordings</p>
